<!--
<div class="z-depth-1">
  <table class="striped ">
    <thead>
      <tr>
        <th>
          <div class="input-field col s12">
            <input type="text" placeholder="П.І.Б.">
          </div>
        </th>
        <th>
          <div class="input-field col s12 select">
            <select #select>
              <option value="" disabled selected>Факультети:</option>
              <option value="1">FICT-1</option>
              <option value="2">FICT-2</option>
              <option value="3">FICT-3</option>
            </select>
          </div>
        </th>
      </tr>


    </thead>

    <tbody class="block-table">
      <tr *ngFor="let teacher of teachers">
        <td>{{teacher.name}}</td>
        <td>{{teacher.faculty}}</td>

        <td class="td-btn">
          <div class="row">
            <div class="col s4">
              <a class="btn-floating btn-small waves-effect indigo" (click)="openModalGet()"><i
                  class="material-icons">description</i></a>
            </div>
            <div class="col s4">
              <a class="btn-floating btn-small waves-effect indigo" (click)="openModalUpdate()"><i
                  class="material-icons">loop</i></a>
            </div>
            <div class="col s4">
              <a class="btn-floating btn-small waves-effect indigo" (click)="openModalRemove()"><i
                  class="material-icons">delete_forever</i></a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large indigo" (click)="openModalCreate()">
    <i class="large material-icons">add</i>
  </a>
</div>

 create modal
<div class="modal modal-fixed-footer" #modal_create>
  <app-create-teacher></app-create-teacher>
</div>


 get modal
<div class="modal modal-fixed-footer" #modalGet>
  <div class="modal-content">
    modalGet
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" (click)="closeModalGet()">Agree</a>
    <a class="modal-close waves-effect waves-red btn-flat" (click)="closeModalGet()">Close</a>
  </div>
</div>


 update modal
<div class="modal modal-fixed-footer" #modalUpdate>
  <div class="modal-content">
    modalUpdate
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" (click)="closeModalUpdate()">Agree</a>
    <a class="modal-close waves-effect waves-green btn-flat" (click)="closeModalUpdate()">Close</a>
  </div>
</div>


 remove modal
<div class="modal modal-fixed-footer" #modalRemove>
  <div class="modal-content">
    modalRemove
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" (click)="closeModalRemove()">Agree</a>
    <a class="modal-close waves-effect waves-green btn-flat" (click)="closeModalRemove()">Close</a>
  </div>
</div>
-->


<div class="table">
  <mat-form-field>
    <mat-label>Фільтер</mat-label>
    <input matInput (keyup)="applyFilter($event)"  #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort >

      <!-- ID Column -->
      <ng-container matColumnDef="surname_name_patronymic">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> surname_name_patronymic </th>
        <td mat-cell *matCellDef="let row"> {{row.surname_name_patronymic}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="faculty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> faculty </th>
        <td mat-cell *matCellDef="let row"> {{row.faculty}} </td>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> faculty </th>
        <td mat-cell *matCellDef="let row"> {{row.faculty}} </td>
      </ng-container>

      <ng-container >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> faculty </th>
        <td mat-cell *matCellDef="let row"> {{row.faculty}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Викладач не знайдений</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
