//@import "~materialize-css/dist/css/materialize.min.css"

$color-indigo-darken-4: #1a237e
$color-indigo: #3f51b5

// Select

.select-wrapper input.select-dropdown
  border-style: none
  box-shadow: none
  &:focus
    border-style: none


.select-dropdown
  li>span
      color: #000
      font-weight: normal


// Scroll

::-webkit-scrollbar
    width: 10px


/* Track */
::-webkit-scrollbar-track
  box-shadow: inset 0 0 5px #9fa8da



/* Handle */
::-webkit-scrollbar-thumb
  background: $color-indigo-darken-4


// SnackBar
.my-snack-bar
  background-color: $color-indigo !important
