<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" class="drawer">
    <mat-list *ngFor="let group of gpoups_links">
      <h3 mat-subheader class="my-subheader">{{group.gpoup_name}}</h3>
      <mat-list-item *ngFor="let link of group.links; last as last" routerLinkActive="routerLinkActive">
        <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
        <h4 mat-line>
          <a [routerLink]="['/admin', link.url]" (click)="drawer.toggle()">{{link.name}}</a>
        </h4>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>{{'no_meeting_room'}}</mat-icon>
        <h4 mat-line>
          <a [routerLink]="['/login']">Вийти</a>
        </h4>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content #drawerContent>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
