$color-indigo: #3f51b5
$color-indigo-lighten: #e8eaf6

.example-container
  width: 100%
  height: 100%

  .drawer
    width: 250px


.example-sidenav-content
  display: flex
  height: 100%
  align-items: center
  justify-content: center


.example-sidenav
  padding: 20px

a
  color: #000
  text-decoration: none
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  display: block

.routerLinkActive
  background-color: $color-indigo-lighten

.my-subheader
  background-color: $color-indigo
  color: #fff

.example-spacer
  flex: 1 1 auto
