$color-indigo: #3f51b5
$color-error: red

/* label focus color */
.input-field input[type=text]:focus + label
  color: $color-indigo

/* label underline focus color */
.input-field input[type=text]:focus
  border-bottom: 1px solid $color-indigo
  box-shadow: 0 1px 0 0 $color-indigo


/* icon prefix focus color */
.input-field .prefix.active
  color: $color-indigo


.modal-footer a
  margin-left: 5px
  margin-right: 5px

.error
  border-bottom: 1px solid $color-error !important
  box-shadow: 0 1px 0 0 $color-error !important


.example-chip-list
  width: 100%
