

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <div class="row">

          <div class="input-field col s4">
            <input id="surname" type="text" class="validate" formControlName="surname"
              [ngClass]="{'error': form.get('surname').invalid && form.get('surname').touched}">
            <label for="surname">Прізвище</label>
            <span class="helper-text red-text"
              *ngIf="form.get('surname').invalid && form.get('surname').touched">Введіть прізвище</span>
          </div>
          <div class="input-field col s4">
            <input id="name" type="text" class="validate" formControlName="name"
              [ngClass]="{'error': form.get('name').invalid && form.get('name').touched}">
            <label for="name">Ім'я</label>
            <span class="helper-text red-text" *ngIf="form.get('name').invalid && form.get('name').touched">Введіть
              ім'я</span>
          </div>
          <div class="input-field col s4">
            <input id="patronymic" type="text" class="validate" formControlName="patronymic"
              [ngClass]="{'error': form.get('patronymic').invalid && form.get('patronymic').touched}">
            <label for="patronymic">По батькові</label>
            <span class="helper-text red-text"
              *ngIf="form.get('patronymic').invalid && form.get('patronymic').touched">Введіть по батькоі</span>
          </div>
        </div>

        <div class="input-field col s12">
          <select #select formControlName="faculty">
            <option value="" disabled selected>Факультути:</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <span class="helper-text red-text" *ngIf="form.get('faculty').invalid && form.get('faculty').touched">
            Виберіть факультет
          </span>
        </div>

        <div class="chips" #chips>
          <input class="custom-class" formControlName="subject">
          <span class="helper-text red-text" *ngIf="form.get('subject').invalid && form.get('subject').touched">
            Виберіть факультет
          </span>
        </div>

        <div>

        </div>

        <a class="btn" (click)="xx()">button</a>

        <div class="row">
          <div class="input-field col s12">
            <input id="login" type="text" class="validate" formControlName="login"
              [ngClass]="{'error': form.get('login').invalid && form.get('login').touched}">
            <label for="login">Логін</label>
            <span class="helper-text red-text" *ngIf="form.get('login').invalid && form.get('login').touched">Введіть
              логін</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="text" class="validate" formControlName="password"
              [ngClass]="{'error': form.get('password').invalid && form.get('password').touched}">
            <label for="password">Пароль</label>
            <span class="helper-text red-text"
              *ngIf="form.get('password').invalid && form.get('password').touched">Введіть пароль</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-close waves-effect waves-green btn-flat green lighten-2"
      [disabled]="form.invalid">Створити</button>
    <a class="modal-close waves-effect waves-red btn-flat red lighten-2">Відміна</a>
  </div>

</form>

