$color-indigo: #3f51b5
$indigo-lighten-5: #e8eaf6

main
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.card-login
  background-color: $indigo-lighten-5
  width: 400px
  padding: 20px

  mat-card-header
    display: flex
    justify-content: center

    mat-card-title > h2
      color: #fff

  mat-card-actions
    display: flex
    flex-direction: row-reverse

  mat-card-content
    div
      margin-bottom: 10px






.example-form
  width: 100%

.example-full-width
  width: 100%
