<main>
  <mat-card class="example-card card-login">
    <mat-card-header>
      <mat-card-title>
        <h2>Вхід</h2>
      </mat-card-title>
    </mat-card-header>
    <form  class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Логін:</mat-label>
            <input matInput type="text" id="login" required formControlName="login"
              [ngClass]="{'invalid': form.get('login').invalid && form.get('login').touched}">
            <mat-error *ngIf="form.get('login').invalid && form.get('login').touched">
              Введіть будь ласка логін!
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Пароль:</mat-label>
            <input matInput type="password" id="password" required formControlName="password"
              [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}">
            <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
              <span *ngIf="form.get('password').errors['required']">
                Введіть будь ласка пароль!
              </span>
              <span *ngIf="form.get('password').errors['minlength']">
                Мінімальна кількість знаків - {{form.get('password').errors['minlength']['requiredLength']}}!
              </span>
            </mat-error>
          </mat-form-field>
        </div>


      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.disabled">Увійти</button>
      </mat-card-actions>
    </form>
  </mat-card>
</main>
